.parent {
  width: 100vw;
}

.map-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

.dot {
  width: 25px;
  aspect-ratio: 1 / 1;
  background-color: #5d578b;
  border-radius: 50%;
  display: inline-block;
  position: relative;
}

#atl {
  /* bottom: 400px; */
  /* left: 915px; */
}

#jfk {
  /* bottom: 617px; */
  /* left: 1145px; */
}

#lax {
  /* bottom: 430px; */
  /* left: 215px; */
}
