.parent {
  width: 100vw;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}

.dot {
  width: 25px;
  aspect-ratio: 1 / 1;
  background-color:#5d578b;
  border-radius: 50%;
  display: inline-block;
  position: relative;
}

#atl {
  bottom: 400px;
  left: 915px;
}

#jfk {
}

#lax {
}